__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store
.AppleDouble
.LSOverride


Icon
._*


._.DS_Store
._*


.Spotlight-V100
.Trashes

.DS_Store
.fseventsd
.VolumeIcon.icns


.TemporaryItems
.apdisk


*.log
*.sqlite3


htmlcov/
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover
.hypothesis/


*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.snap
pip-wheel-metadata/


poetry.lock
.mypy_cache/
.pytest_cache/


docker-compose.override.yml
*.env
*.env.*

.ipynb_checkpoints

.flake8

.mypy_cache/
.dmypy.json
dmypy.json

.ipynb_checkpoints

.vscode/
