<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопросы</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f4f4f4;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Вопросы, которые были заданы:</h1>
    <ul>
        {% for question in questions %}
            <li>{{ question }}</li>
        {% endfor %}
    </ul>
</body>
</html>